@import '../common/normalize.css';
@import '../common/common-styles.css';

/* Header */
.header {
	position: sticky;
	top: 0;
	background-color: #ffffff;
}
.header-container {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo__link {
	text-decoration: none;
}
.header-logo__title {
	margin: 0 0 10px 0;
	font-family: 'GeaorgiaRegular';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.09em;
	color: var(--color-dark-l);
}
.header-logo__subtitle {
	padding-left: 4px;
	font-family: 'ArialRegular';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--color-dark-3xl);
}
.header-nav {}
.nav-list {
	display: flex;
	justify-content: space-between;
	gap: 35px;
}
.nav-list__item {
	list-style: none;
}
.list-item-active {
	border-bottom: 3px solid var(--color-primary);
	transition: 0.3s;
}
.list-item-active:hover {
	border-bottom: 3px solid transparent;
	transition: 0.3s;
}
.list-item-active .nav-list__item-link {
	color: var(--color-dark-l);
}
.nav-list__item-link {
	font-family: 'ArialRegular';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	text-decoration: none;
	color: var(--color-dark-l);
	letter-spacing: 0.005em;
	transition: 0.3s;
}
.nav-list__item-link:hover {
	cursor: pointer;
	color: var(--color-dark-3xl);
	transition: 0.3s;
}

/* Our friends */
.our-friends {
	padding: 80px 0 100px;
	background-color: var(--color-light-l);
}
.our-friends-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.our-friends-heading {
	margin: 0 auto;
	margin-bottom: 45px;
	max-width: 400px;
	font-family: 'GeorgiaRegular';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
}
.our-friends-cards-container {
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px 40px;
}
.card {
	background-color: var(--color-light-s);
	border-radius: 9px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
	transition: 0.3s ease-in;
}
.card:hover {
	cursor: pointer;
	background-color: var(--color-light);
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover .button {
	cursor: pointer;
	border: 2px solid var(--color-primary-light);
	background-color: var(--color-primary-light);
	transition: 0.3s ease-in;
}
.card__image {
}
.card__title {
	margin: 30px 0;
	font-family: 'GeorgiaRegular';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}
.pagination-controls {
	margin-top: 45px;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.button-paginator {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--color-primary);
	color: var(--color-dark-3xl);
	transition: 0.3s;
}
.button-paginator_first-page,
.button-paginator_prev-page {
	border-color: var(--color-dark-s);
	color: var(--color-dark-s);
	cursor: default;
}
.button-paginator_next-page:hover,
.button-paginator_last-page:hover {
	cursor: pointer;
	background-color: var(--color-primary-light);
	border-color: var(--color-primary-light);
	transition: 0.3s;
}
.button-active {
	background-color: var(--color-primary);
	transition: 0.3s;
	cursor: default;
}
.button-paginator__text {
	margin-top: -4px;
	font-family: 'GeorgiaRegular';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}

/* Media query */
@media screen and (max-width: 1279px) {
	.our-friends-cards-container {
		padding: 0;
		justify-content: center;
		align-items: center;
		gap: 30px 40px;
	}
	.our-friends-heading {
		margin-bottom: 30px;
	}
	.our-friends {
		padding-bottom: 76px;
	}
	.card:nth-child(7),
	.card:nth-child(8) {
		display: none;
	}
	.pagination-controls {
		margin-top: 40px;
	}
}

@media screen and (max-width: 767px) {
	.header-container {
		margin: 0;
		padding-right: 43px;
	}
	.header-logo__title {
		line-height: 35px;
		letter-spacing: 0.08em;
	}

	.header-nav {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		padding: 30px 10px 0;
		width: 320px;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--color-dark-3xl);
		transition: 0.3s;
		z-index: -1;
		visibility: hidden;
		overflow: auto;
	}
	.header-nav.nav_active {
		top: 0;
		right: 0;
		opacity: 1;
		transition: 0.3s;
		z-index: 1;
		visibility: visible;
	}
	.header-nav.nav_active
	.header-logo__title {
		color: var(--color-primary);
	}
	.header-nav.nav_active
	.header-logo__subtitle {
		color: var(--color-light);
	}
	.header-burger-menu.burger-btn_active
	.menu-line {
		background-color: var(--color-primary);
	}
	.header-burger-menu.burger-btn_active
	.menu-line::before {
		background-color: var(--color-primary);
	}
	.header-burger-menu.burger-btn_active
	.menu-line::after {
		background-color: var(--color-primary);
	}
	.nav-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 58px);
		margin: 0 auto;
		max-width: 243px;
	}
	.nav-list__item-link {
		font-size: 32px;
		letter-spacing: 0;
		color: var(--color-dark-s);
	}
	.list-item-active .nav-list__item-link {
		color: var(--color-light-s);
	}
	.nav-list__item-link:hover {
		color: var(--color-light-s);
		transition: 0.3s;
	}


	.header-burger-menu-logo {
		position: absolute;
		top: 30px;
		left: 10px;
	}
	.menu-line,
	.menu-line::before,
	.menu-line::after {
		width: 30px;
		height: 2px;
		background-color: #000000;
	}

	.our-friends {
		padding: 42px 0;
	}
	.our-friends-cards-container {
		flex-direction: column;
	}
	.our-friends-heading {
		margin-bottom: 42px;
		font-size: 25px;
		line-height: 32px;
	}

	.card:nth-child(4),
	.card:nth-child(5),
	.card:nth-child(6) {
		display: none;
	}
	.pagination-controls {
		gap: 10px;
		margin-top: 42px;
	}
}
