.footer {
  padding: 0px 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__github {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.link__github:hover {
  color: #555;
}
.link__course_logo {
  width: 100px;
  height: auto;
  transition: transform 0.2s ease-in;
}
.link__course_logo:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.2s ease-in;
}
