.card {
  &__item {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 16px;
    }

    &-description {
      &__item {
        margin: 0;
      }
    }

    &-image {
      margin: 0 auto;
      width: 180px;
      height: 150px;
    }

    &-price {
      color: blue;
      font-size: 16px;
    }

    &-button {
      display: inline;

      &__remove {
        width: 100%;
      }

      &__add {
        width: 100%;
      }
    }
  }
}