.card {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    border: 1px solid #e2e2e2;
    position: relative;

    &:hover {
      border: 1px solid #8a8a8a;
      border-radius: 5px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    }

    &-indicator {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 100px;
      height: 30px;
      background-color: #78A962;
      border-radius: 15px;
      font-size: 13px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title {
      font-size: 13px;
    }

    &-description {
      &__item {
        margin: 0;
        font-size: 12px;
      }
    }

    &-image {
      margin: 0 auto;
      max-width: 160px;
      height: 130px;
    }

    &-categiry {}

    &-star {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      background: url('./assets//like.svg') transparent 0px 0px / 0px no-repeat;
      background-size: contain;
    }

    &-price {
      color: #333333;
      font-size: 20px;
      align-self: flex-end;
    }

    &-buttons-container {
      display: flex;
      justify-content: space-around;
    }

    .button__remove {
      cursor: pointer;
      background: #ffffff;
      border: 2px solid #ff2701;
      border-radius: 50px;
      padding: 5px 25px;
      color: #ff2701;
      font-size: 14px;
      line-height: 18px;

      &:hover {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.14);
      }
    }

    .button__add {
      cursor: pointer;
      background: url('./assets//shopping-cart-icon-blue.svg') #ffffff 10px 7px / 17px no-repeat;
      border: 2px solid #0156FF;
      border-radius: 50px;
      padding: 5px 15px 5px 34px;
      color: #0156FF;
      font-size: 14px;
      line-height: 18px;

      &:hover {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.14);
      }
    }
  }
}

@media (max-width: 800px) {
  .card {
    &__item {
      &-image {
        margin: 0;
      }
      &-buttons-container {
        justify-content: flex-end;
      }
    }

  }
}