.main__container {
  padding: 20px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.cards__container {
  display: flex;
  flex-direction: column;
}
.cards__sort {
  align-self: flex-end;
}
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 5px;
  padding-top: 20px;
}

.cart__container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 5px;
}